#main-menu-container {
  background-color: @grey;
}

.menu {
  // background-color: black;
  font-size: 16px;
  color: white;
  ul {
    list-style: none;
    li {
      padding-right: 40px;
      a {
        text-decoration: none;
      }
    }

  }
}

// .dd-container {
//   position: relative;
  .dd-image {
    width: 100%;
  }
  // .dd-header-page{
  //   position: absolute;
  //   top: 200px;
  //   right: 30%;
  //   span {
  //     color: white;
  //   }
  // }
// }
